html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: system, sans-serif;
}

#app-config {
    width: 500px;
    margin: 50px auto;
}
